{
  "env": {
    "karma": {
      "plugins": [
        ["istanbul", {
          "exclude": ["tests/**/*.*"]
        }]
      ]
    }
  },
  "plugins": [
    "preval",
    ["transform-imports", {

    }]
  ]
}
